.main {
    background-color: black;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#gametitle {
    display: flex;
    justify-content: center;
    color: rgb(78, 255, 8);
    font-size: 50px;
}

.startbtndiv {
    display: flex;
    justify-content: center;
}

#startbtn {
    border: 2px solid white;
    height: 100px;
    width: 300px;
    font-size: 400%;
    color: rgb(78, 255, 8);
    background-color: black;
}

#starttxt {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(78, 255, 8);
}

canvas {
    background-color: black;
}


/* .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#score {
    display: flex;
    justify-content: center;
    background-color: black;
}


.gameover {
    background-color: black;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#gameover {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(78, 255, 8);
    font-size: larger;
}

#score {
    color: rgb(78, 255, 8);
}

.restartbtndiv {
    display: flex;
    justify-content: center;
}

#restartbtn {
    border: 2px solid white;
    height: 60px;
    width: 200px;
    font-size: 200%;
    color: rgb(78, 255, 8);
    background-color: black;
}